*.pyc
*.vscode
*.mypy_*
.env
*.devcontainer
venv
bin
.yaml
*_
events.json
*env
superset
*__
airflow/logs
airflow/dags/__pycache__
airflow/dags/*.ini
airflow/plugins
airflow/.mypy_cache
env
app/*.ini
app/*.py
app/*.txt
kafka-service/.mypy_cache
kafka-service/*.ini
kafka-service/*.py
kafka-service/*.txt
compose-dev.yaml
steps.txt
